.linkContainer {
    background-color: beige;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;

}

.tag {
    background-color: rebeccapurple;
    border-radius: 5px;
    padding: 4px;
    color: white;
}